.header {
    /* background-color: #00f; */
    padding: 6px;
    /* position: sticky; */
    top: 0px;
}

.form {
    display: flex;
    gap: 5px;
    margin: 30px auto 10px;
    justify-content: left;
}

.input {
    border-radius: 5px;
}

.btnSubmit {
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 5px;
}